:root {
    --blue: #6699CC;
    --grey: #303030;
    --big-font: 50px;
    --header-color: #315a7d;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: #E8EEFC;
}

header {
    background-color: var(--grey);
    width: 100%;
    height: 80px;
}

nav {
    margin-right: 30px;
    float:right;
    padding: 15px 20px 20px;
    display: flex;
}

nav a {
    color: var(--blue);
    text-decoration: none;
    border-bottom: 3px solid;
    font-size: 20px;
    padding: 3px 5px;
    margin: 5px;
}

.name {
    background-color: var(--blue);
    padding: 1px 15px 1px 55px;
    margin-top: 10px;
    position: relative;
    font-size: var(--big-font);
    text-align: right;
    float: left;
    width: 300px;
    color: var(--grey);
}

.hero-image img {
    height: 200px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.subtitle {
    position: relative;
    color: var(--grey);
    background-color: var(--blue);
    padding: 10px;
    float: right;
    bottom: 80px;
    right: 60px;
    font-size: 30px;
    columns: var(--grey);
}

main {
    width: 100%;
}

.float-left {
    float: left;
    margin: 5px 15px 20px 70px;
    width: 15%;
    font-size: var(--big-font);
    text-align: right;
    color: var(--header-color);
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.about-me img {
    width: 300px;
    height: 300px;
    border-left: 4px solid var(--header-color);
    padding-left: 50px;
    display: inline;
}

.introduction {
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 51%;
}

p {
    font-family: 'Gill Sans';
    font-weight: lighter;
    margin-right: 25px;
    font-size: 18px;
    padding: 8px;
}

#work {
    width: 100%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    padding-top: 30px;
    padding-bottom: 30px;
}

.work-container {
    border-left: 4px solid var(--header-color);
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-project {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 470px;
}

.main-project img {
    border: 5px solid var(--blue);
    margin-left: 50px;
    width: 90.7%;
    height: 70%;
    object-fit: cover;
    background-size: cover;
    position: relative;
}

.refactor-text-block {
    background-color: var(--blue);
    width: 170px;
    height: 80px;
    font-size: 20px;
    position: relative;
    left: 50px;
    bottom: 360px;
    padding: 5px 1px 5px 15px;
    color: var(--grey);
}

.refactor-text-block h3 {
    padding-top: 15px;
    font-weight: bold;
}

.secondary-project {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 210px;
    justify-content: space-around;
}

#study-guide {
    margin-left: 50px;
    width: 50%;
    height: 20%;
}

#study-guide img {
    border: 5px solid var(--blue);
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: cover;
}

#first-website {
    margin-left: 50px;
    width: 50%;
    height: 20%;
}

#first-website img {
    border: 5px solid var(--blue);
    width: 100%; 
    height: 200px;
    object-fit: cover;
    background-size: cover;
}

.sg-text-block {
    background-color: var(--blue);
    width: 170px;
    height: 80px;
    font-size: 20px;
    position: relative;
    bottom: 136px;
    padding: 5px 1px 5px 15px;
    color: var(--grey);
}

.sg-text-block h3 {
    padding-top: 15px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    padding-bottom: 10px;
}

footer {
    width: 100%;
    padding-top: 30px;
}

footer a {
    color: var(--header-color);
    font-size: 25px;
}

.contact-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    border-left: 4px solid var(--header-color);
    height: 120px;
    width: 185;
    align-items: center;
    top: 20px;
}

.work-container img:hover{
    filter: contrast(120%);
}

@media screen and (min-width: 1528px) {
    p {
        font-size: ;
    }
}

@media screen and (max-width: 1528px) {
    .float-left{
        width: 13%;
    }
}