:root {
    --blue: #6699CC;
    --grey: #303030;
    --big-font: 50px;
    --header-color: #315a7d;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: #E8EEFC;
}

header {
    background-color: var(--grey);
    width: 100%;
    height: 80px;
}

nav {
    margin-right: 30px;
    float:right;
    padding: 15px 20px 20px;
    display: flex;
    position: relative;
    bottom: 80px;
    margin-bottom: -80px;
}

nav a {
    color: var(--blue);
    text-decoration: none;
    border-bottom: 3px solid;
    font-size: 20px;
    padding: 3px 5px;
    margin: 5px;
}

.name {
    background-color: var(--blue);
    padding: 1px 15px 1px 55px;
    margin-top: 10px;
    position: relative;
    font-size: var(--big-font);
    text-align: right;
    float: left;
    width: 300px;
    color: var(--grey);
}

.hero-image img {
    height: 200px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.subtitle {
    position: relative;
    color: var(--grey);
    background-color: var(--blue);
    padding: 10px;
    float: right;
    bottom: 80px;
    right: 60px;
    font-size: 30px;
    columns: var(--grey);
}

main {
    width: 100%;
}

.float-left {
    float: left;
    margin: 5px 15px 20px 5%;
    width: 10%;
    text-align: right;
    color: var(--header-color);
    font-size: 3vw;
}

#about-me {
    padding-top: 50px;
    width: 100%;
}

.about-me {
    border-left: 4px solid var(--header-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 80%;
}

.about-me img {
    width: 300px;
    height: 300px;
    padding-left: 50px;
    display: inline;
    padding-bottom: 10px;
}

.introduction {
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
}

p {
    font-family: 'Gill Sans';
    font-weight: lighter;
    margin-right: 25px;
    font-size: 18px;
    padding: 8px 0px 8px 0px;
}

#work {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.work-container {
    padding: 0px 50px;
    border-left: 4px solid var(--header-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-project {
    width: 100%;
    margin-bottom: 20px;
}

.main-project img {
    border: 5px solid var(--blue);
    width: 100%;
    object-fit: cover;
    background-size: cover;
    position: relative;
}

.refactor-text-block {
    background-color: var(--blue);
    width: 170px;
    height: 80px;
    font-size: 125%;
    position: relative;
    bottom: 136px;
    padding: 5px 1px 5px 15px;
    color: var(--grey);
    margin-bottom: -90px;
}

.refactor-text-block h3 {
    padding-top: 15px;
    font-weight: bold;
}

.secondary-project {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 210px;
    justify-content: space-around;
}

#study-guide {
    width: 50%;
    height: 20%;
    padding-right: 10px;
}

#study-guide img {
    border: 5px solid var(--blue);
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: cover;
}

#first-website {
    width: 50%;
    height: 20%;
    padding-left: 10px;
}

#first-website img {
    border: 5px solid var(--blue);
    width: 100%; 
    height: 200px;
    object-fit: cover;
    background-size: cover;
}

.sg-text-block {
    background-color: var(--blue);
    width: 170px;
    height: 80px;
    font-size: 20px;
    position: relative;
    bottom: 136px;
    padding: 5px 1px 5px 15px;
    color: var(--grey);
}

.sg-text-block h3 {
    padding-top: 15px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    padding-bottom: 10px;
}

footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer a {
    color: var(--header-color);
    font-size: 1.5vw;
}

.contact-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-left: 4px solid var(--header-color);
    height: 120px;
    width: 75%;
    align-items: center;
}

.work-container img:hover{
    filter: contrast(120%);
}

@media screen and (max-width: 1246px) {
    .introduction {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    p {
        font-size: 15px;
    }
    .float-left {
        width: 84%;
        margin: 5px 15px 20px 50px;
        text-align: left;
        font-size: 180%;
    }
    .about-me, .work-container, .contact-info{
        margin-left: 50px;
    }
    .contact-info {
        height: 20px;
    }
    nav {
        flex-direction: column;
        display: flex;
        width: 100%;
        bottom: 0px;
        padding-bottom: 20px;
        margin-right: 0px;
        padding: 0px 0px 15px 0px;
        background-color: var(--grey);
        text-align: center;
    }
    nav a {
        border: none;
    }
    .about-me img {
        width: 50%;
        height: 100%;
    }
    .name {
        width: 100%;
        padding: 0;
        text-align: center;
    }
}