:root {
    --blue: #6699CC;
    --grey: #303030;
    --big-font: 50px;
    --header-color: #315a7d;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-weight: normal;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    background-color: var(--grey);
    width: 100%;
    height: 80px;
}

nav {
    margin-right: 30px;
    float:right;
    padding: 25px 20px 20px;
}

nav a {
    color: var(--blue);
    text-decoration: none;
    border-bottom: 3px solid;
    font-size: 20px;
    padding: 3px 5px;
    margin: 5px;
}

.name {
    background-color: var(--blue);
    padding: 1px 15px 1px 55px;
    margin-top: 10px;
    position: relative;
    font-size: var(--big-font);
    text-align: right;
    float: left;
    width: 300px;
    color: var(--grey);
}

.hero-image img {
    height: 200px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.subtitle {
    position: relative;
    color: var(--grey);
    background-color: var(--blue);
    padding: 10px;
    float: right;
    bottom: 80px;
    right: 60px;
    font-size: 30px;
    columns: var(--grey);
}

main div {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.float-left {
    float: left;
    margin: 0px 13px 0px 70px;
    width: 10%;
    font-size: var(--big-font);
    text-align: right;
    padding: 20px 0px 20px 0px;
    color: var(--header-color);
}

#about-me img {
    width: 300px;
    height: 300px;
    border-left: 4px solid var(--header-color);
    padding-left: 50px;
    display: inline;
}

p {
    font-family: 'Gill Sans';
    font-weight: lighter;
    margin-right: 25px;
    font-size: 18px;
    padding: 8px;
}

.introduction {
    margin-top: 0px;
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 50%;
}

.projects {
    border-left: 4px solid var(--header-color);
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

#main-project {
    border: 5px solid var(--blue);
    margin-left: 50px;
    width: 1080px;
    height: 470px;
    object-fit: cover;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}

.secondary-project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
}

#secondary-project {
    border: 5px solid var(--blue);
    margin-left: 50px;
    margin-top: 30px;
    width: 510px;
    height: 300px;
    object-fit: cover;
    background-size: cover;
}

.text-box {
    background-color: var(--blue);
    width: 170px;
    height: 80px;
    font-size: 20px;
    position: relative;
    bottom: 200px;
    left: 55px;
    padding: 5px 1px 5px 15px;
    color: var(--grey);
}

.text-box h3 {
    padding-top: 15px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    padding-bottom: 10px;
}

footer a {
    color: var(--header-color);
    font-size: 25px;
}

.contact-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    border-left: 4px solid var(--header-color);
    height: 120px;
    width: 80%;
    align-items: center;
    position: relative;
    top: 20px;
}

#work, #contact-me, #about-me {
    padding: 20px 0px;
}

.projects img:hover{
    filter: contrast(120%);
}

/* @media screen and {min-width: 1024px
    
} */